<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/chart">Bar Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dchart">Doughnut Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/rchart">Radar Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pchart">Pie Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/gchart">Google Pie Chart</a>
    </li>
  </ul>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
